{{#each erros}}
<div style="position: absolute; top: 40%; left: 40%; z-index:5;" class='alert alert-danger'>{{texto}}</div>

{{else}}

{{/each}}


{{#if success_msg}}
<div style="position: absolute; top: 40%; left: 40%; z-index:5;" class='alert alert-success'>{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div style="position: absolute; top: 40%; left: 40%; z-index:5;" class='alert alert-danger'>{{error_msg}}</div>
{{/if}}

{{head}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.jpg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

{{header}}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- logo -->
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="logo1" src="/img/logo.png" class="img-fluid" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Barra de navegação -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="navbarItems" class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li id="nav-link1" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Pagina Inicial</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/#sobreId">sobre</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Eventos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/eventos">Únicos</a></li>
                            <li><a class="dropdown-item" href="#">Frequentes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            <li><a class="dropdown-item" href="/faq">Dúvidas</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a id="nav-linkblue" class="nav-link accAcess">{{logadoounao}}</a>

                        <a id="nav-linkblue2" class="nav-link accAcess2 hide" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            href="#offcanvasExample">{{logadoounao}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


{{{body}}}


{{!-- ==================== MODAL DE LOGIN E CADASTRO (INICIO) ====================== --}}
{{!------MODAL DE LOGIN (INICIO) ------}}
<div id="modal-popup" class="modal-container">
    <div class="containerr">
        <button id="btnFechar" class="fechar"><i class="uil uil-multiply"></i></button>
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="/logar" method='post'>
                    <div class="input-field">
                        <input type="text" name="email" placeholder="Entrar com email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="senha" class="password" placeholder="Digite sua senha" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Entrar">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Não possui conta?
                        <a href="#" class="text signup-link">Criar conta</a>
                    </span>
                </div>
            </div>
            {{!------MODAL DE CADASTRO (INICIO) ------}}
            <div class="form signup">
                <span class="title">Cadastro</span>

                <form action="/cadastrar" method='post'>
                    <div class="input-field">
                        <input type="text" name='nome' placeholder="Seu nome" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" name='email' placeholder="Seu email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name='senha' class="password" placeholder="Criar uma senha" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name='senhaC' class="password" placeholder="Confirmar senha" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>


                    <div class="input-field button">
                        <input type="submit" value="Criar conta">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Ja tem uma conta?
                        <a href="#" class="text login-link">Fazer Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- ==================== MODAL DE LOGIN E CADASTRO (FINAL) ====================== --}}
{{!-- ==================== MODAL BARRA LATERAL OPTIONS (INICIO) ====================== --}}

<div id="modal-barId" class="modal-bar">

    <div class="offcanvas offcanvas-end d-flex flex-column flex-shrink-0 p-3 bg-light" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel" style="width: 280px;">

        <div class="d-block p-3 link-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right">

            <h1 class="d-inline-block mx-3"><i class="bi bi-person-circle"></i></h1>
            <span class="fs-4">Bem vindo!</span>
            <hr>
        </div>

        <ul class="nav nav-pills flex-column mb-auto mx-0 px-0">

            <li class="my-3">

                <button class="nav-link link-dark d-block " data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-dismiss="offcanvas">
                    <h3 class="icon-link d-inline-block mx-2"><i class="bi bi-pencil-square"></i></h3>
                    Editar Cadastro
                </button>
            </li>

            <li class="my-3">
                <a href="/criarEv" class="nav-link link-dark">
                    <h3 class="icon-link d-inline-block mx-2"><i class="bi bi-plus-square"></i></h3>
                    Criar Evento
                </a>
            </li>
            <li class="my-3">
                <a href="/editarEv" class="nav-link link-dark">
                    <h3 class="icon-link d-inline-block mx-2"><i class="bi bi-credit-card-2-front"></i></h3>
                    Editar Evento
                </a>
            </li>
            <li class="my-3">
                <a href="/meusEv" class="nav-link link-dark">
                    <h3 class="icon-link d-inline-block mx-2"><i class="bi bi-card-checklist"></i></h3>
                    Meus eventos
                </a>
            </li>
        </ul>
        <div class="d-block p-3 deslogAcc">
            <a href="/deletaCadastro" class="link-dark">
                <h3 class="icon-link d-inline-block mx-2"><i class="bi bi-box-arrow-right"></i></h3>
                <span>Deletar conta</span>
            </a>
        </div>
        <div class="d-block p-3 deslogAcc">
            <a href="/deslogar" class="link-dark">
                <h3 class="icon-link d-inline-block mx-2"><i class="bi bi-box-arrow-right"></i></h3>
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>

















{{!-- ==================== MODAL BARRA LATERAL OPTIONS (FINAL) ====================== --}}
{{!-- ==================== MODAL EDITAR CADASTRO (INICIO) ====================== --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-dark">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Editar Cadastro</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="/editouCadastro" method='post'>
                    <div class="col-8 mx-auto my-auto p-1 modal-edCadastro">
                        <input type="text" name='nome' class="form-control inputClass p-2 mb-4 "
                            placeholder="Alterar Nome" required>
                        <input type="password" name='senha' class="form-control inputClass p-2 mt-4  "
                            placeholder="Nova Senha" required>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Salvar Mudanças</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>



{{!-- ==================== MODAL EDITAR CADASTRO (FINAL) ====================== --}}
<script src="../js/usability.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"> </script>