<!DOCTYPE html>
<html lang="en">

<head>
    <title>Editar Evento</title>
</head>

<body class="d-flex flex-column min-vh-100">


    <div id="body-contentEv">

        <section id="barraLateralEv">
            <div id="txt_lateral_Ev">
                <h6 id="iconEvent"><i class="bi bi-calendar2-event"></i></h6>
                <h1>Edite o seu evento.</h1>
                <p>"Gostaríamos de salientar que é impressionante o serviço que vocês fazem. É ótimo ter a oportunidade
                    de
                    trabalhar com vocês.
                    Saibam que contribuem significativamente para a nossa sociedade!"
                    <br><br><br>
                </p>
                <h5>Equipe de desenvolvedores - Charity Radar</h5>
            </div>
        </section>

        <section id="mainContentEv">
            <h1>Editar evento</h1>
            {{#each evento}}
            <form action="/editouEvento/{{id}}" method='post'>
                <div id="formPlace">
                    <div id="formEv">
                        <div class="divInputs input-group mb-3">
                            <span class="input-group-text">Nome</span>
                            <input type="text" name='nome' class="form-control inputClass" value="{{name}}">
                            <input type="text" name='numero' class="form-control inputClass" value="{{numero}}"
                                placeholder="Número para contato (Opicional)">
                        </div>
                        <div class="divSelects input-group mb-3">
                            <select name='tipo' class="form-select inputClass">
                                <option selected>{{tipodeevento}}</option>
                                <option value="unico">Unico</option>
                                <option value="frequente">Frequente</option>
                            </select>

                        </div>
                        <div class="divInputs input-group mb-3">
                            <input name='endereco' type="text" value="{{endereco}}" class="form-control inputClass">
                        </div>
                        <div id="inputDesc" class="input-group">
                            <div id="div1" class="divslabel mb-3">
                                <label for="formFile" class="form-label">Data do evento</label>
                                <input type="input" name="data" value="{{data}}"  class="form-control inputClass"
                                    placeholder="Exemplo: 00/00/0000">
                                <input type="input" name="hora" value="{{hora}}" class="form-control inputClass my-2"
                                    placeholder="Informar a hora">
                            </div>
                            <span class="input-group-text">Descrição do evento</span>
                            <textarea name='descricao' id="" class="form-control inputClass">{{descricao}}</textarea>
                        </div>
                        <div id="buttonEv">
                            <button type="submit" class="btnEv btn btn-outline-primary">Editar Evento</button>
                        </div>
                    </div>

                </div>
            </form>
            {{/each}}
        </section>

    </div>





</body>

</html>