<!DOCTYPE html>
<html lang="en">

<head>
    <title>Editar Evento</title>
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- logo -->
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="logo1" src="/img/logo.png" class="img-fluid" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Barra de navegação -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="navbarItems" class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li id="nav-link1" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Pagina Inicial</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/#sobreId">sobre</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/listaEventos">Eventos</a>
                    </li>

                    <li class="nav-item">
                        <a id="nav-linkblue" class="nav-link accAcess">{{logadoounao}}</a>

                        <a id="nav-linkblue2" class="nav-link accAcess2 hide" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                            href="#offcanvasExample">{{logadoounao}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body class="d-flex flex-column min-vh-100">


    <div id="body-contentEv">

        <section id="barraLateralEv">
            <div id="txt_lateral_Ev">
                <h6 id="iconEvent"><i class="bi bi-calendar2-event"></i></h6>
                <h1>Edite o seu evento.</h1>
                <p>"Gostaríamos de salientar que é impressionante o serviço que vocês fazem. É ótimo ter a oportunidade
                    de
                    trabalhar com vocês.
                    Saibam que contribuem significativamente para a nossa sociedade!"
                    <br><br><br>
                </p>
                <h5>Equipe de desenvolvedores - Charity Radar</h5>
            </div>
        </section>

        <section id="mainContentEv">
            <h1>Editar evento</h1>
            {{#each evento}}
            <form action="/editouEvento/{{id}}" method='post'>
                <div id="formPlace">
                    <div id="formEv">
                        <div class="divInputs input-group mb-3">
                            <span class="input-group-text">Nome</span>
                            <input type="text" name='nome' class="form-control inputClass" value="{{name}}">
                            <span class="input-group-text">Número</span>
                            <input type="text" name='numero' class="form-control inputClass" value="{{numero}}">
                        </div>

                        <div class="divInputs input-group mb-3">
                            <span class="input-group-text">Endereço</span>
                            <input name='rua' type="text" class="form-control inputClass" value="{{endereco}}">
                        </div>

                        {{!-- Data para tipo de evento unico --}}
                        <div class="mb-3 row col-12">
                            <div class="col-5">
                                <span class="input-group-text">Data do Evento:</span>
                                <input type="input" name="data" class="form-control inputClass" value="{{data}}">
                            </div>

                            <div class="col-5">
                                <span class="input-group-text">Hora do evento:</span>
                                <input type="input" name="hora" class="form-control inputClass" value="{{hora}}">
                            </div>
                        </div>

                        <div class="row col-12">
                            <div id="inputDesc" class="">
                                <span class="input-group-text">Descrição do evento:</span>
                                <textarea name='descricao' id="" class="form-control inputClass">{{descricao}}</textarea>
                            </div>
                            <div id="buttonEv">
                                <button type="submit" class="btnEv btn btn-outline-primary">Editar Evento</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>

    {{/each}}






</body>

</html>