<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eventos</title>
</head>

<body>

    <div class="container-fluid vh-100 overflow-auto">
        <div class="row-fluid">


            <div class="row text-start overflow-auto bg-light">

                <div class="row my-1">
                    <h2 class="text-center text-dark"> Eventos </h2>
                </div>
                <div class="row mx-auto">
                    <div class="container my-1 d-flex justify-content-center">

                        <form action="/eventos" method="post">
                            <div class="d-inline-block col-10">
                                <select name="tipo" class="mx-auto form-select w-100" id="">
                                    <option value="todos" selected>Todos</option>
                                    <option value="unico">Únicos</option>
                                    <option value="frequente">Frequentes</option>
                                </select>
                            </div>
                            <div class="d-inline-block mx-auto col-1">
                                <button type="submit" class="btn">
                                    <h2><i class="bi bi-search"></i></h2>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>



                <!-- CARDS EVENTOS -->

                <div class="row mx-auto">
                    {{#each eventos}}
                    <div class="col-md-4 col-sm-6 my-2 ">
                        <div class="card text-center">
                            <div style="min-height: 200px;" class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <strong>{{data}} - {{hora}}</strong>
                                <p class="card-text">{{endereco}}</p>
                                <form action="/modalEventos/{{id}}" method="get">
                                    <button type="submit" class="btn btn-outline-primary">Abrir Evento</button>
                                </form>
                            </div>
                        </div>
                    </div>


                    {{else}}
                    <div class="container">
                        <div class="row">
                            <figure class="text-center mt-5">
                                <img class=" h-75 d-inline-block img-fluid" src="/img/foldernoEvents.png" alt="">
                            </figure>





                        </div>
                    </div>


                    {{/each}}


                </div>

            </div>




        </div>


    </div>








</body>

</html>