<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Charity Radar</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {{!-- ============================= Conteúdo da pagina ========================= --}}
    <div id="body-contentEv">

        <section id="barraLateralEv">
            <div id="txt_lateral_Ev">
                <h6 id="iconEvent"><i class="bi bi-calendar2-event"></i></h6>
                <h1>Aqui estão seus eventos</h1>
                <p>"Gostaríamos de salientar que é impressionante o serviço que vocês fazem. É ótimo ter a oportunidade
                    de
                    trabalhar com vocês.
                    Saibam que contribuem significativamente para a nossa sociedade!"
                    <br><br><br>
                </p>
                <h5>Equipe de desenvolvedores - Charity Radar</h5>
            </div>
        </section>
        <section id="mainContentEv">

            {{!------------------ Seção utilizada para mostrar os eventos que o usuário possui ----------------}}
            <div style="height: 100%;" class="container col-12 mx-auto mb-5 bg-light p-5 overflow-auto ">
                <h1 class="my-0 mb-1">Meus eventos</h1>
                {{#each eventos}}

                <div class="card text-center shadow my-3">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">

                            <div class="col-8">
                                <h5 class="card-title col-8">{{name}}</h5>
                            </div>
                            <div class="col-2 py-auto">
                                <form action="/editarEv/{{id}}" method="get">
                                    <button type="submit" class="btn btn-outline-primary">Editar</button>
                                </form>


                            </div>
                            <div class="col-2">
                                <form action="/deletaEvento/{{id}}" method="get">
                                    <button type="submit"
                                        class="btnExcluir btnEv btn btn-outline-danger">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        {{createdAt}}
                    </div>
                </div>


                {{else}}
                <h3>Nenhum Evento por aqui.</h3>


                {{/each}}
            </div>

            {{!------------------------------------------------------------------------------------------------}}
            <div id="DocumentResults"></div>
            <script id="document-template" type="text/x-handlebars-template">



             </script>



        </section>

    </div>









    <!-- Rodapé -->
    <footer class="mt-auto container-fluid bg-dark d-flex align-items-center">

        <div class="centerP">
            <p>@copryght Cheryt Radar</p>
        </div>

    </footer>


</body>

</html>