<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.jpg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <title>Evento</title>
</head>

<body>

    {{#each evento}}


    <div class="container-fluid">
        <div class="row mx-auto vh-85">
            <div class="row text-center">
                <h2>{{name}}</h2>
            </div>

            <!-- {{!-- =============================== ACORDIONS ================================== --}} -->

            <div class="col-md-8 mx-auto px-0 py-0 my-0">

                <!-- {{!-- ENDEREÇO --}} -->
                <div class="accordion-item my-2">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5>Endereço</h5>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            O evento ocorrerá no seguinte endereço:
                            <strong>{{endereco}}</strong>
                        </div>
                    </div>
                </div>


                <!-- {{!-- CONTATO --}} -->
                <div class="accordion-item my-2">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5>Informações</h5>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Data: {{data}}
                            <br>
                            Horário: {{hora}}
                            <br>
                            Telefone: {{numero}}
                        </div>
                    </div>
                </div>
                <!-- {{!-- DESCRIÇÃO --}} -->
                <div class="accordion my-2" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5>Descrição</h5>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {{descricao}}
                            </div>
                        </div>
                    </div>




                </div>
            </div>




            <!-- {{!-- =============================== IMAGENS ================================== --}} -->

            <div class="col-md-10 mx-auto py-3 d-flex justify-content-center">
                <img id="imgEv" src='{{enderecoimagens}}'
                    class="img-fluid pt-2 my-0 mx-auto" alt="...">
            </div>
        </div>


    </div>

    {{/each}}

    <script src="../js/usability.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"> </script>
</body>

</html>